<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS Digital Accessibility Dashboard
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Accessibility Compliance Data
        <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>-->
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
    <p class="nhsuk-body-l">NHS services and platforms must be accessible to everyone who needs it. If it is not, you may be breaking the law.</p>
  </div>
</div>


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    <h3>To be accessibility compliant, services have to:</h3>


<ol>
  <li style="padding-left: 10px;"> 
  <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Meet the public sector regulations [legal requirement]
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p><strong>Meet all:</strong></p>
            <ul>

                <li><p class=" ">Meet WCAG 2.1 to level AA (except where there are exceptions or disproportionate burden)</p></li>
                <li><p class=" ">Have an accessibility statement that complies with requirements</p></li> 
                
              </ul>
      
        </div>
      </details>
    </li>

    <li style="padding-left: 10px;"> 
      <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Meet the GOV and NHS accessibility Standard
            </span>
          </summary>
          <div class="nhsuk-details__text">
              <p><strong>Meet all:</strong></p>
              <ul>

                  <li><p class=" ">Meet WCAG 2.1 to level AA (except where there are exceptions or disproportionate burden)</p></li>
                <li><p class=" ">Have an accessibility statement that complies with requirements</p></li>
                <li><p class=" ">Has been tested and is compatible with specific AT and browser combinations</p></li>
                <li><p class=" ">User with a range of access needs have been included in User Research sessions in the design and testing of the service</p></li>
                  
                </ul>
        
          </div>
        </details>
</li>



<li style="padding-left: 10px;"> 
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Have an accessibility evaluation
              </span>
            </summary>
            <div class="nhsuk-details__text">
                <p><strong>Levels of compliance:</strong></p>
                <ol>
  
                    <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--green">Expert evaluation</strong> An accessibility specialist has manually tested against WCAG</p></li>
                    <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--orange">Internal evaluation</strong> Someone on the team with limited accessibility knowledge has performed some checks</p></li>
                    <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--red">Automated evaluation</strong> Just an automated tool has been run</p></li>
  
                    
                  </ol>
          
            </div>
          </details>
</li>


<li style="padding-left: 10px;"> 
          <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Test with assistive technology
                </span>
              </summary>
              <div class="nhsuk-details__text">
                  <p><strong>Levels of compliance:</strong></p>
                  <ol>
    
                      <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--green">Fully tested</strong> Tested with all of GDS service standard listed access technologies and browsers. <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies">GOV.UK: Testing with assistive technologies</a></p></li>
                      <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--orange">Limited testing</strong> Tested with a limited number of technologies and browsers</p></li>
                      <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--red">No testing</strong> Tested with non/unknown assistive technologies</p></li>
    
                      
                    </ol>
            
              </div>
            </details>
</li>

<li style="padding-left: 10px;"> 
            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    User Research with access needs*
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p><strong>Levels of compliance:</strong></p>
                    <ol>
      
                        <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--green">All</strong> 1 in 5 participants have an access need</p></li>
                        <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--orange">Limited</strong></p></li>
                        <li><p class=" "><strong class="nhsuk-tag nhsuk-tag--red">Non</strong> </p></li>
      
                        
                      </ol>
              
                </div>
              </details>
</li>

            </ol>
              <p class="nhsuk-body-s ">*However - need to consider different types of service (small/basic/urgent vs large/complex/ongoing)</p>
    

    
  </div>
</div>


<h2 class="nhsuk-u-padding-top-5 nhsuk-u-margin-top-0">Service compliance overview</h2>
    <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-2">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">10<span class="nhsuk-u-visually-hidden">services/platforms</span></p>priority platform/services
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="background-color: #f7d4d1;
        border-color: #6b140e;
        color: #6b140e;">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0<span class="nhsuk-u-visually-hidden">compliant with public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup> </span></p>compliant with public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup>
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="background-color: #ffdc8e;
        border-color: #4d3708;
        color: #4d3708;">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-l nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">9 <span class="nhsuk-u-visually-hidden">have an accessibility statement</span></p>have an accessibility statement
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="background-color: #f7d4d1;
        border-color: #6b140e;
        color: #6b140e;">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-l nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">have a compliant statement (1)</span></p>have a compliant statement <sup style="line-height: 0; font-size: 75%;">(1)</sup>
          </div>
        </div>
    
      </li>

      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="background-color: #ffdc8e;
        border-color: #4d3708;
        color: #4d3708;">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">1 <span class="nhsuk-u-visually-hidden">tested with users with access needs <sup style="line-height: 0; font-size: 75%;">(5)</sup></span></p>tested with users with access needs <sup style="line-height: 0; font-size: 75%;">(5)</sup>
          </div>
        </div>
    
      </li>

      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable" style="background-color: #f7d4d1;
        border-color: #6b140e;
        color: #6b140e;">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">meet GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span></p>meet GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup>
          </div>
        </div>
    
      </li>
    </ul>






<hr>
      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption ">Priority platform/service compliance table</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding-right: 130px;">
              <p class="nhsuk-body-s">Service name</p>
            </th>
            <th role="columnheader" class="" scope="col">
              <p class="nhsuk-body-s">Public sector<br />  accessibility<br /> regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup></p>
            </th>
            <th role="columnheader" class="" scope="col">
              <p class="nhsuk-body-s">Accessibility<br> statement<br />  &amp; status</p>
            </th>
            <th role="columnheader" class="" scope="col">
              <p class="nhsuk-body-s">UR includes<br> access needs</p> 
            </th>

            <th role="columnheader" class="" scope="col">
              <p class="nhsuk-body-s">Accessibility<br/> Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></p> 
            </th>

            <th role="columnheader" class="" scope="col">
              <p class="nhsuk-body-s">Tested with<br />  assistive<br> technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></p> 
            </th>

            <th role="columnheader" class="" scope="col">
              <p class="nhsuk-body-s">GOV and NHS<br /> accessibility<br> standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></p> 
            </th>

          </tr>
        </thead>

    
        <tbody class="nhsuk-table__body">

            
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell" >
              <span class="nhsuk-table-responsive__heading">Service name </span>
              <a href="https://www.nhs.uk"><h2 class="nhsuk-heading-m">The NHS website</h2></a>
              


            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup> </span><strong class="nhsuk-tag nhsuk-tag--red">
                
Not compliant
              </strong>
            </td>
            <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; status</span>
                <strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-3">
                    Partially compliant
                  </strong>   
              <p class="nhsuk-body-s "><a href="https://www.nhs.uk/accessibility-statement/">NHS website statement</a></p>
              <p class="nhsuk-body-s ">'Next review due: 21 September 2023'
                    </p>

            </td>
          </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">UR includes access needs </span><strong class="nhsuk-tag nhsuk-tag--orange">
                Limited 

              </strong>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><strong class="nhsuk-tag nhsuk-tag--green">
                Expert evaluation


              </strong>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Tested with
                  assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><strong class="nhsuk-tag nhsuk-tag--green">
                Fully tested 


              </strong>
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">GOV and NHS<br /> accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                Not met

              </strong>
            </td>



          </tr>


          <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Service name </span>
                <a href="https://access.login.nhs.uk"><h2 class="nhsuk-heading-m">NHS Login</h2></a>
              
  
  
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                  Not compliant
                </strong>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; status</span>
                  <p class="nhsuk-body-s ">Compliance level not provided</p>
                <p class="nhsuk-body-s "><a href="https://access.login.nhs.uk/enter-email">NHS Login statement</a></p>
              </td>
       

              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">UR includes access needs </span> <p class="nhsuk-body-s ">Unknown</p>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><p class="nhsuk-body-s ">Unknown</p>
              </td>
  
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Tested with assistive<br>  technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><p class="nhsuk-body-s ">Unknown</p>
              </td>
  
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                  Not met
  
                </strong>
              </td>
  
  
  
            </tr>          


            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Service name </span>
                  <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/"><h2 class="nhsuk-heading-m">NHS App</h2></a>
                  <p class="nhsuk-body-s ">  
                  <ul class="nhsuk-body-s ">
                      <li >Online</li>
                      <li>iOS</li>
                      <li>Android</li>
                    </ul>
                  </p>
                  
    
    
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                    Not compliant
                  </strong>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; status </span>
                  <strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-3">
                      Partially compliant
                    </strong>
                  <p class="nhsuk-body-s "><a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/accessibility/">NHS App statement</a></p>
                  <p class="nhsuk-body-s nhsuk-u-padding-top-2">Missing some legally required text - compliance status</p>
                </td>


                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">UR includes access needs </span> <p class="nhsuk-body-s ">Unknown</p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><strong class="nhsuk-tag nhsuk-tag--green">
                    Expert evaluation
    
    
                  </strong>
                </td>
    
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Tested with assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup>   </span><p class="nhsuk-body-s ">Unknown</p>
                </td>
    
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility<br> standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
    
                  </strong>
                </td>
    
    
    
              </tr>   




              <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Service name </span>
                    <a href="https://maps.test-and-trace.nhs.uk"><h2 class="nhsuk-heading-m">Find where to get rapid lateral flow tests for coronavirus (COVID-19)
                      </h2></a>

                    
      
      
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                      Not compliant
                    </strong>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Accessibility<br> statement &amp; status </span>
                    <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-3">
                        Partially compliant
                      </strong>
                    <p class="nhsuk-body-s "><a href="https://www.nhs.uk/our-policies/site-finder-accessibility-statement/">Find where to get rapid lateral flow tests for coronavirus (COVID-19) statement</a></p> 
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">UR includes access needs </span>
                      <strong class="nhsuk-tag nhsuk-tag--red">
                          Non
                        </strong>
                    </td>

                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><strong class="nhsuk-tag nhsuk-tag--green">
                        Expert evaluation
                      </strong>
                  </td>
      
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Tested with assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><strong class="nhsuk-tag nhsuk-tag--orange">
                        Limited testing
                      </strong>
                  </td>
      
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                      Not met
      
                    </strong>
                  </td>
      
      
      
                </tr>    


                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Service name </span>
                      <a href="https://www.nhs.uk/using-the-nhs/nhs-services/pharmacies/order-repeat-prescriptions-online/do-you-have-nhs-login"><h2 class="nhsuk-heading-m">Order a repeat prescription

                        </h2></a>
  
                      
        
        
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup> </span><strong class="nhsuk-tag nhsuk-tag--red">
                        Not compliant
                      </strong>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; status </span>
                      <strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-3">
                          Partially compliant
                         </strong>
                      <p class="nhsuk-body-s "><a href="https://www.nhs.uk/using-the-nhs/nhs-services/pharmacies/order-repeat-prescriptions-online/accessibility/">Order a repeat prescription statement
                      </a></p>
                    </td>
  

                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">UR includes access needs </span> <p class="nhsuk-body-s ">Unknown</p>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                    </td>
        
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Tested with assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                    </td>
        
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                        Not met
        
                      </strong>
                    </td>
        
        
        
                  </tr> 



                  <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Service name </span>
                        <a href="https://service-manual.nhs.uk"><h2 class="nhsuk-heading-m">NHS Service Manual

  
                          </h2></a>
    
                        
          
          
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup> </span><strong class="nhsuk-tag nhsuk-tag--red">
                          Not compliant
                        </strong>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; status</span>
                        <strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-3">
                            Partially compliant
                           </strong>
                        <p class="nhsuk-body-s "><a href="https://service-manual.nhs.uk/accessibility-statement">Service manual statement
                        </a></p>
                      </td>

  
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">UR includes access needs </span> <p class="nhsuk-body-s ">Unknown</p>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                      </td>
          
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Tested with assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                      </td>
          
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><strong class="nhsuk-tag nhsuk-tag--green">
                          Met
          
                        </strong>
                      </td>
          
          
          
                    </tr> 

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Service name </span>
                          <a href="https://www.nhs.uk/nhs-services/hospitals/book-an-appointment/"><h2 class="nhsuk-heading-m">Book an appointment using the NHS e-Referral Service

  
    
                            </h2></a>
      
                         
            
            
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                            Not compliant
                          </strong>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; status</span>
                          <!--<strong class="nhsuk-tag nhsuk-tag--orange">
                              Partially compliant
                             </strong>-->
                          <p class="nhsuk-body-s "> No statement</p>
                        </td>
        
    
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">UR includes access needs </span> <p class="nhsuk-body-s ">Unknown</p>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                        </td>
            
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Tested with assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                        </td>
            
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                        </td>
            
            
            
                      </tr> 



                      <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Service name </span>
                            <a href="https://your-data-matters.service.nhs.uk"><h2 class="nhsuk-heading-m">Choose if data from your health records is shared for research and planning

  
    
      
                              </h2></a>
        
                           
              
              
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Public sector accessibility regulations <sup style="line-height: 0; font-size: 75%;">(1)</sup></span><strong class="nhsuk-tag nhsuk-tag--red">
                              Not compliant
                            </strong>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Accessibility statement &amp; statu</span>
                            <strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-3">
                                Not compliant
                               </strong>
                            <p class="nhsuk-body-s "> <a href="https://your-data-matters.service.nhs.uk/accessibilitystatement">Your data matters statement

                            </a></p>
                          </td>
          
      
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">UR includes access needs </span> <p class="nhsuk-body-s ">Unknown</p>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Accessibility Evaluation <sup style="line-height: 0; font-size: 75%;">(3)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                          </td>
              
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Tested with assistive technology <sup style="line-height: 0; font-size: 75%;">(4)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                          </td>
              
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">GOV and NHS accessibility standard <sup style="line-height: 0; font-size: 75%;">(2)</sup></span><p class="nhsuk-body-s ">Unknown</p>
                          </td>
              
              
              
                        </tr> 
         
        </tbody>
      </table>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
